---
local_host:
  client_id: 1234	
  client_secret: 1234	
  host: localhost
  authorization_path: /authorize
  token_path: /token
  port: 			
  redirect_uri: http://localhost/redirect
  scope: openid+phone+email+address+profile
remote_hosts:
  http://test.com: https://test.com/oauth2/introspection