<h1>Settings</h1>

<ul class="unstyled">
	<li><p><i class="icon-comment"></i> <%= link_to 'Notifications and Alerts', :controller =>  :notify_configs, :action => :index %></p></li>
	<li><p><i class="icon-user"></i> <%= link_to 'My User Info', current_user %></p></li>
	<% if  isAdmin? %>
		<li><p><i class="icon-list"></i> <%= link_to 'All Users', :controller =>  :users, :action => :index  %></p></li>
	<% end %>
</ul>