@import "bootstrap";

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * require_tree .
*/


#logo {
	font-weight:bold;
	color:$grayDarker;
}
#user {
	font-size:17px;
	margin-left:20px;
}
.breadcrumb {
	background-color:transparent;
	padding-left:$gridGutterWidth;
}
.navbar .nav > li {
	line-height:26px;
}
table.patient-records {
	th:first-child, th:first-child { 
		width:2em;
	}
	td {
		border:none;
	}
}
dl.dl-horizontal{
	margin-bottom:5px;
  dt {
	  text-align:left;
	  width:310px;
	  .lab_value {font-weight:normal;color:#393;padding-left:10px}
	}
	dd {
		text-align:right;
	}
}

.span8 dl.dl-horizontal dt {width:420px}

.form-set {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#log_start_end label {font-weight:bold;margin-right:20px;}

.footer {
	margin-top:40px;
	border-top:1px solid $grayLighter;
	padding:20px 0;
}