@import "bootstrap";

/* tweak headline font sizes down a notch */
h1,
h2,
h3 { line-height: $baseLineHeight * 2; }

h1 { font-size: $baseFontSize * 2.25; } // ~38px
h2 { font-size: $baseFontSize * 2.00; } // ~32px
h3 { font-size: $baseFontSize * 1.5; } // ~24px
h4 { font-size: $baseFontSize * 1.25; } // ~18px
h5 { font-size: $baseFontSize; }
h6 { font-size: $baseFontSize * 0.85; } // ~12px

h1 small { font-size: $baseFontSize * 1.75; } // ~24px
h2 small { font-size: $baseFontSize * 1.25; } // ~18px
h3 small { font-size: $baseFontSize; }
h4 small { font-size: $baseFontSize; }

$out-of-range-value: red;

.record .out-of-range-value {
    color: $out-of-range-value;
}

/* header styles */
#logo {
	font-weight:bold;
	color:$grayDarker;
}

#main-nav {
	padding-left:3px;
	// padding-top:1px;
	border-radius: 2px;
	.container {
		padding-left:0px;
	}

	a {
		color: rgb(34, 34, 34);
	}
}
#user {
	font-size:17px;
	margin-left:20px;
}
.breadcrumb {
	background-color:transparent;
	padding-left:$gridGutterWidth;
}
.navbar .nav > li {
	line-height:26px;
}

table.patient-records {
	th:first-child, th:first-child { 
		width:2em;
	}
	td {
		border:none;
	}
}

table.table.table-noborders td {border:none}

dl.dl-horizontal{
	margin-bottom:5px;
  dt {
	  text-align:left;
	  width:310px;
	  .lab_value {font-weight:normal;color:#393;padding-left:10px}
	}
	dd {
		text-align:right;
	}
}
.form-horizontal .control-group {
	margin-bottom:10px;
	.controls p {
		margin-bottom:5px;
		margin-top:5px;
	}
}
.span8 dl.dl-horizontal dt {width:420px}

.form-set {
  position: relative;
  margin: 15px 0;
  padding: 19px 0 0 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.form-actions {
	margin-bottom:0;
}
#log_start_end label {font-weight:bold;margin-right:20px;}

.footer {
  font-size: 12px;
	margin-top:40px;
	border-top:1px solid $grayLighter;
	padding:20px 0;
}